<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Landing Page -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>JS - 01, Session 02</title>
		<link rel="stylesheet" href="../style.css" />

		<!-- Bootstrap Styles Plugin -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
			crossorigin="anonymous" />
	</head>

	<body class="">
		<!-- Navbar - Bootsrap -->
		<nav
			class="navbar bg-body-tirtiary navbar-expand-sm sticky-top border-bottom border-light-subtle">
			<div class="container-fluid px-0 mx-2">
				<a
					href="https://crio-4me.jagadeeshwar.net"
					class="navbar-brand m-0 h1"
					style="margin-left: 1rem"
					><strong>Crio.Do 4 Me</strong></a
				>

				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#togglerTargetNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div
					class="collapse navbar-collapse justify-content-sm-center"
					id="togglerTargetNavbar"
					style="margin-left: 1rem">
					<ul class="navbar-nav">
						<li class="navbar-item">
							<a href="../index.html" class="nav-link">Home</a>
						</li>
						<li class="navbar-item">
							<a href="https://crio-4me.jagadeeshwar.net" class="nav-link"
								>Explore</a
							>
						</li>
						<li class="navbar-item"></li>
					</ul>
				</div>
				<a href="https://profile.jagadeeshwar.net" class="nav-link"
					>View Profile</a
				>
			</div>
		</nav>

		<div class="container">
			<div class="content h-100">
				<div>
					<h5
						class="btn btn-success"
						data-bs-toggle="collapse"
						role="button"
						href="#collapseTarget1">
						Agenda
					</h5>
					<div class="collapse" id="collapseTarget1">
						<div class="card card-body">
							<ul>
								<li>Expressions</li>
								<li>Mathematical Operators and Precendence</li>
								<li>Relational / Logical Operatores</li>
								<li>If-Else Statements - Part 1</li>
								<li>Introduction to Functions - Part 1</li>
								<ul>
									<li>Paramentric & Non-Parametric</li>
									<li>Calling a Function</li>
									<li>Returning Values</li>
								</ul>
								<li>Introduction to Crio Platform</li>
							</ul>
						</div>
					</div>
				</div>

				<section class="quick-cards">
					<section class="cards-section">
						<div
							target="_blank"
							data-bs-toggle="collapse"
							role="button"
							href="#expressions">
							<section class="link-card-bg">
								<section class="link-card">
									<article class="link-card-text">
										<p><strong>Whar is Expressions ?</strong></p>
										<p></p>
									</article>
								</section>
							</section>
						</div>

						<div
							target="_blank"
							data-bs-toggle="collapse"
							role="button"
							href="#operators">
							<section class="link-card-bg">
								<section class="link-card">
									<article class="link-card-text">
										<p><strong>Math Operators</strong></p>
										<p></p>
									</article>
								</section>
							</section>
						</div>

						<div
							target="_blank"
							data-bs-toggle="collapse"
							role="button"
							href="#rel_con">
							<section class="link-card-bg">
								<section class="link-card">
									<article class="link-card-text">
										<p><strong>Logical & Relational Operators</strong></p>
										<p></p>
									</article>
								</section>
							</section>
						</div>

						<div
							target="_blank"
							data-bs-toggle="collapse"
							role="button"
							href="#if_else">
							<section class="link-card-bg">
								<section class="link-card">
									<article class="link-card-text">
										<p><strong>If-Else (intro)</strong></p>
										<p></p>
									</article>
								</section>
							</section>
						</div>

						<div
							target="_blank"
							data-bs-toggle="collapse"
							role="button"
							href="#js-function">
							<section class="link-card-bg">
								<section class="link-card">
									<article class="link-card-text">
										<p><strong>JS Functions (Intro)</strong></p>
										<p></p>
									</article>
								</section>
							</section>
						</div>

						<div
							target="_blank"
							data-bs-toggle="collapse"
							role="button"
							href="#vars">
							<section class="link-card-bg">
								<section class="link-card">
									<article class="link-card-text">
										<p><strong>Intro to Crio PF</strong></p>
										<p></p>
									</article>
								</section>
							</section>
						</div>
					</section>
				</section>

				<!-- Toggle Section -->
				<!-- Expressions in JavaScript ? -->
				<div class="collapse mt-2" id="expressions">
					<div class="card card-body">
						<ul>
							<li>
								Expressions always result in
								<b>a Singel value and are questions / statement</b> that
								JavaScript can answer.
							</li>
							<li>
								Expression is a combinations of
								<b>literals, variables, operators & other Simple expressions</b>
							</li>
							<li>Ex.: console.log(2+2)</li>
							<li>We ask JavaScript 2+2 = ?, and it answers with 4</li>
							<li>
								To form an expression or statement, we can use <b>Operators</b>
							</li>
						</ul>
					</div>
				</div>

				<!-- Arithmatic Operators -->
				<div class="collapse mt-2" id="operators">
					<div class="card card-body">
						<ul>
							<li>B => Brackets <b>(...)</b></li>
							<li>A => Addition <b>(+)</b></li>
							<li>S => Subtraction <b>(-)</b></li>
							<li>M => Multiplication <b>(*)</b></li>
							<li>D => Division <b>(/)</b></li>
							<li>R => Modulus (Reminder) <b>(%)</b></li>
						</ul>

						<b>Precendence (Order of evaluation)</b>
						<code>
							<b> B DMR AS </b>
						</code>

						<h6>
							Note : In case they belong to
							<b>same category, follow order from left to right</b>
						</h6>

						<div>
							<h5
								class="btn btn-success"
								data-bs-toggle="collapse"
								role="button"
								href="#eval_exprssns">
								Evaluate some Expressions
							</h5>
							<div class="collapse" id="eval_exprssns">
								<div class="card card-body">
									<ul>
										<li>
											console.log(2 + 2)
											<code>// OP: 4 (typeof => Number)</code>
										</li>
										<li>
											console.log(5 * 15)
											<code>// OP: 75 (typeof => Number)</code>
										</li>
										<li>
											console.log(10 % 2)
											<code>// OP: 0 (typeof => Number)</code>
										</li>
										<li>
											console.log(19 - 29)
											<code>// OP: -10 (typeof => Number)</code>
										</li>
										<li>
											console.log('Java' + 'Script')
											<code>// OP: "JavaScript" (typeof => String)</code>
										</li>
										<li>
											console.log('JS' / 4)
											<code>// OP: NaN (typeof => Number) <b>What ?</b></code>
											<a
												href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/NaN"
												class="text-info"
												target="_blank"
												>Read about it here...</a
											>
										</li>
										<li>
											console.log(3 + 10 * 2)
											<code>// OP: 23 (typeof => Number)</code>
										</li>
										<li>
											console.log((3 + 10) * 2)
											<code>// OP: 26 (typeof => Number)</code>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<a
							href="https://www.w3schools.com/js/js_arithmetic.asp"
							class="text-info"
							target="_blank"
							>For More...</a
						>
					</div>
				</div>

				<!-- Logical & Relational Operators -->
				<div class="collapse mt-2" id="rel_con">
					<div class="card card-body">
						<!-- Relational Operators -->
						<div>
							<h5
								class="btn btn-success"
								data-bs-toggle="collapse"
								role="button"
								href="#rel_operators">
								Relational Operators
							</h5>
							<div class="collapse mt-2" id="rel_operators">
								<div class="card card-body">
									<ul>
										<li>
											What if we're given two numbers and suppose to chech which
											number is Greater ?
										</li>
										<li>
											To check relationship between two primitive or variables,
											we useOperators
											<b>relationship operators</b>
										</li>
										<ul>
											<li>Greater than <b>( > )</b></li>
											<li>Less Than <b>( < )</b></li>
											<li>Greater than or equal to <b>( >= )</b></li>
											<li>Less than or equal to <b>( <= )</b></li>
											<li>Equal to <b>( == )</b></li>
											<li>Strictly Equal to <b>( === )</b></li>
											<li>Not Equal to <b>( !== )</b></li>
											<li>Not <b>( ! )</b></li>
										</ul>
									</ul>

									<div>
										<h5
											class="btn btn-success"
											data-bs-toggle="collapse"
											role="button"
											href="#rel_check">
											Check some relationships
										</h5>
										<div class="collapse" id="rel_check">
											<div class="card card-body">
												<ul>
													<b>Ex.: let a = 10; let b = 20; </b>
													<li>
														console.log(a >= b)
														<code>// OP: false (typeof => Boolean)</code>
													</li>
													<li>
														console.log(a <= b)
														<code>// OP: true (typeof => Boolean)</code>
													</li>
													<li>
														console.log(a != b)
														<code>// OP: true (typeof => Boolean)</code>
													</li>
													<li>
														console.log( a == b)
														<code>// OP: false (typeof => Boolean)</code>
													</li>
													<li>
														console.log( a === b)
														<code>// OP: false (typeof => Boolean)</code>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Logical Operators -->
						<div>
							<h5
								class="btn btn-success"
								data-bs-toggle="collapse"
								role="button"
								href="#con_operators">
								Logical Operators
							</h5>
							<div class="collapse mt-2" id="con_operators">
								<div class="card card-body">
									<ul>
										<li>
											What if We want to compare
											<b>One or more Conditions</b> and make a decision
										</li>
										<li>
											<b>AND (&&)</b> -> Returns true only if
											<b>both conditions are true</b>
										</li>
										<li>
											<b>OR ( || )</b> -> Returns true if
											<b>any condition evaluates to be true</b>
										</li>

										<li><b>let a = 10; let b = 20;</b></li>
										<ul>
											<li>
												console.log( a !== b && a > b );
												<p class="text-info">// OP: false</p>
											</li>
											<li>
												console.log( a !== b || a > b );
												<p class="text-info">// OP: true</p>
											</li>
										</ul>
									</ul>

									<div>
										<h5
											class="btn btn-success"
											data-bs-toggle="collapse"
											role="button"
											href="#rel_check">
											Let's understand
										</h5>
										<div class="collapse" id="rel_check">
											<div class="container card-body">
												<img
													src="../assets/logical_table.png"
													alt=""
													height="200"
													width="500" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Truthy & Falsy Values in JS -->
						<div>
							<h5
								class="btn btn-success"
								data-bs-toggle="collapse"
								role="button"
								href="#truthy_falsy">
								Truthy & Falsy in JS
							</h5>
							<div class="collapse mt-2" id="truthy_falsy">
								<div class="card card-body">
									<ul>
										<li>
											When non-boolean values are used in a boolean context,
											such as <code>if</code> statements
										</li>
										<ul>
											<li>
												There will be coerced into
												<span class="text-info">either true or false</span>
											</li>
											<li>
												Values that are coerced into true, are called
												<code>truthy</code>
											</li>
											<li>
												Values that are coerced into false, are called
												<code>falsy</code>
											</li>
										</ul>
										<li>
											In JavaScript, there a <code>Six</code> falsy values.
										</li>
										<ul>
											<li><code>false</code></li>
											<li><code>0, -0 and 0n (zero of n)</code></li>
											<li><code>'' and "" </code>(Empty String)</li>
											<li><code>null, undefined and NaN</code></li>
											<li><code>document.all</code></li>
										</ul>

										<li><b>All other values</b> are truthy</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- If-Else -->
				<div class="collapse mt-2" id="if_else">
					<div class="card card-body">
						<ul>
							<li>
								What if, we had to test a condition and then do a task or print
								something.
							</li>
							<li>
								To impose and check a condition we, we can use
								<b>"if"</b> statement
							</li>
							<li>
								<b>Syntax -</b>
								<code class="align-items-start">
									<code
										>if (condition) { // if condition is true, then do this }
									</code>
								</code>
							</li>
						</ul>

						<div class="d-flex m-0">
							<div class="mx-2">
								<h5
									class="btn btn-success"
									data-bs-toggle="collapse"
									role="button"
									href="#if_stmt">
									If - Statement
								</h5>
								<div class="collapse" id="if_stmt">
									<div class="card card-body">
										<ul>
											<li>When we want to check for Only one condition</li>
											<li>
												And about to perform a specific task, We can us
												if-statement
											</li>
										</ul>
									</div>
								</div>
							</div>

							<div class="mx-2">
								<h5
									class="btn btn-success"
									data-bs-toggle="collapse"
									role="button"
									href="#if-else-stmt">
									if-else Statement
								</h5>
								<div class="collapse" id="if-else-stmt">
									<div class="card card-body">
										<ul>
											<li>
												When we have evaluate a condition, and if it get true
												We'll perform a task
											</li>
											<li>
												If it gets false, We supposed to be perform a different
												task
											</li>
											<li>We can use <code>else</code> block.</li>
										</ul>
									</div>
								</div>
							</div>

							<div class="mx-2">
								<h5
									class="btn btn-success"
									data-bs-toggle="collapse"
									role="button"
									href="#if-else-if">
									if-else-if Statement
								</h5>
								<div class="collapse" id="if-else-if">
									<div class="card card-body">
										<ul>
											<li>
												When we're having multiple conditions, and evaluate them
												to be true or not
											</li>
											<li>
												To perform some tasks, we can use
												<code>if-else-if</code> code statements
											</li>
											<li>
												The final <code>else</code> block will evaluate with
												final left over condition.
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="mx-2">
							<h5
								class="btn btn-success"
								data-bs-toggle="collapse"
								role="button"
								href="#if-else-activity">
								Activity
							</h5>
							<div class="collapse" id="if-else-activity">
								<div class="card card-body">
									<ul>
										<li>Given an age variable: <code>var age = 16;</code></li>
										<li>
											Print <b>"Can drive</b> if the age is greater than 18
										</li>
										<li>Print <b>"Cannot drive"</b> otherwise</li>
										<li>Use the <code>if-else</code> block</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- JS Functions -->
				<div class="collapse mt-2" id="js-function">
					<div class="card card-body">
						<ul>
							<li>What if we want to <b>perform a task frequently</b></li>
							<li>We dont't have to repeat the particular code in our file.</li>
							<li>
								In JavaScript, we can devide our code into
								<b>re-usable parts</b> called <code>functions</code>
							</li>
							<li>
								We can call these functions, by its name <b>at any-point</b> in
								our code
							</li>
						</ul>

						<div class="mx-2">
							<h5
								class="btn btn-success"
								data-bs-toggle="collapse"
								role="button"
								href="#funct-def">
								Function Definition
							</h5>

							<h5
								class="btn btn-success"
								data-bs-toggle="collapse"
								role="button"
								href="#funct-call">
								Function Call
							</h5>
						</div>

						<div class="collapse" id="funct-def">
							<div class="card card-body">
								<ul>
									<li>
										<code>function functName () { // do something }</code>
									</li>
									<li><code>const myFunct =()=> {}</code> // ES6</li>
								</ul>
							</div>
						</div>
						<div class="collapse" id="funct-call">
							<div class="card card-body">
								<ul>
									<li>
										Just write the function's name, at where ever you want in
										your code
									</li>
									<li><code>myFunct()</code> or <code>functName()</code></li>
								</ul>
							</div>
						</div>

						<div class="mx-2">
							<h5
								class="btn btn-success"
								data-bs-toggle="collapse"
								role="button"
								href="#funct-activity">
								Activity
							</h5>

							<div class="collapse" id="funct-activity">
								<div class="card card-body">
									<ul>
										<li>
											Write a function <code>myName()</code> that prints your
											full name to the console once.
										</li>
										<li>
											Call this function 3 times and see the result in console.
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="text-info">
							<a href="../modules/function-types.html" target="_blank"
								>Read more about Types of Function, Parameters & Arguments,
								etc</a
							>
						</div>
					</div>
				</div>

				<!-- Crio PF Intro -->
				<div class="collapse mt-2" id="vars">
					<div class="card card-body"></div>
				</div>
			</div>
		</div>

		<footer class="fixed-bottom bg-info-subtle">
			<div>© Jagadeeshwaran Eswaran | 2023</div>
		</footer>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"></script>
	</body>
</html>
